<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>

	<bean id="stud" class="com.entity.Student">
		<property name="stud_id" value="1"></property>
		<property name="stud_age" value="24"></property>
		<property name="stud_name" value="Mahesh"></property>
		<property name="stud_city" value="Pune"></property>
		<property name="con" ref = "c"></property>



	</bean>

	<bean id="c" class="com.entity.Country">
		<property name="c_id" value="+91"></property>
		<property name="c_name" value="Indian"></property>
	</bean>


</beans>